<ion-view view-title="Sign-In"  >
    <ion-content>
        <div class="list" >
            <label class="item item-input">
                <span class="input-label">用户名:</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">密码:</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
                登录
            </button>
            <button class="button button-block button-positive" ng-click="newUser(user)">
                注册
            </button>
            <!--<p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>-->
        </div>

    </ion-content>
</ion-view>
