<ion-view view-title="消息">
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar-left  item-icon-right" ng-repeat="message in messages" ng-click="showchatview(message)">

          <i class="icon ion-chatbox-working" style="left: 18px;"></i>
          <div class="deptname">{{message.title}}</div>
          <i class="badge badge-assertive item-note elementCenterAlign">{{message.nums}}</i>
          <i class="icon ion-ios-arrow-right"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
