/* Empty. Add your own CSS if you like */


.blackmenu{

  border-color: #111;
  background-color: #444444 !important;
  /*background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);*/
  color: #fff;

}
.blackmenu .item {
  background-color: transparent;
  border-color: #444444;
  vertical-align: middle;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: #F0F1F1;
}
.blackmenu .item-content {
  background-color: transparent;
  border-color: #444444;

  color: #F0F1F1;
}
.menuname{

  margin-top: 10px;
  vertical-align: middle;
  margin-left: 10px;

}
.deptname{

  margin-top: 10px;
  vertical-align: middle;
  margin-left: 10px;

}
.elementCenterAlign {
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	clear:both;
	max-width:50%;
	margin:0 0 1rem 0;
	padding:0;
}

/**
.messages li:nth-child(even) {
	float:right;
}

.messages li:nth-child(even) img {
	float:right;
}**/

.remotemessage{
  float:right;



}
.remotemessage p{
  background:#158FFE !important;
	color:#fff;
}


.messages p {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

/***
.messages li:nth-child(even) p {
	background:#158ffe;
	color:#fff;
}**/

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}





.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}


.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
}
.platform-android .action-sheet {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    z-index: 11;
    overflow: hidden;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
    text-align: center;
}
.platform-android .action-sheet .action-sheet-title {
    padding: 16px;
    color: #8f8f8f;
    text-align: center;
    font-size: 13px;
}
.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}
.platform-android .action-sheet-group {
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.platform-android .action-sheet-group .button {
    border-width: 1px 0 0;
}
.platform-android .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #d1d3d6;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
}
.platform-android .action-sheet-cancel {
    font-weight: 500;
    display: block;
}
.platform-android .action-sheet-has-icons .button {}

